[flake8]
jobs=auto
count = True
statistics = True
ignore = E711,E712,F401,W504,W503,E402
max-line-length = 100
exclude =
    .git,
    .env/**,
    env/**,
    venv/**,
    .venv/**,
    .tox/**,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
max-complexity = 15
